<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品列表</title>
    {literal}
    <link rel="stylesheet" href="__STATIC__admin/styles/backstage.css">
    <link rel="stylesheet" href="__STATIC__admin/scripts/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css"/>
    <script src="__STATIC__admin/scripts/jquery-ui/js/jquery-1.10.2.js"></script>
    <script src="__STATIC__admin/scripts/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="__STATIC__admin/scripts/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
    {/literal}
</head>

<body>
<div id="showDetail" style="display:none;">

</div>
<div class="details">
    <div class="details_operation clearfix">
        <div class="bui_select">
            <input type="button" value="添&nbsp;&nbsp;加" class="add" onclick="addPro()">
        </div>
        <div class="fr">
            <div class="text">
                <span>商品价格：</span>
                <div class="bui_select">
                    <select class="select" onchange="change(this.value)">
                        <option value="">-请选择-</option>
                        <option value="iPrice asc">由低到高</option>
                        <option value="iPrice desc">由高到低</option>
                    </select>
                </div>
            </div>
            <div class="text">
                <span>上架时间：</span>
                <div class="bui_select">
                    <select class="select" onchange="change(this.value)">
                        <option value="">-请选择-</option>
                        <option value="pubTime desc">最新发布</option>
                        <option value="pubTime asc">历史发布</option>
                    </select>
                </div>
            </div>
            <div class="text">
                <span>搜索</span>
                <input type="text" value="" class="search" id="search" onkeypress="search()" placeholder="请输入商品名称">
            </div>
        </div>
    </div>
    <!--表格-->
    <table class="table" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th width="10%">编号</th>
            <th width="20%">商品名称</th>
            <th width="10%">商品分类</th>
            <th width="10%">是否上架</th>
            <th width="10%">商品价格</th>
            <th width="15%">上架时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $rows as $row}
        <tr>
            <td><input type="checkbox" id="{$row.id}" class="check"><label
                    for="{$row.id}" class="label">{$row.id}</label></td>
            <td>{$row.pName}</td>
            <td>{$row.cName}</td>
            <td>
                {if $row.isShow eq 1}
                上架
                {else}
                下架
                {/if}
            </td>
            <td>{$row.iPrice}元</td>
            <td>{$row.pubTime|date="Y-m-d H:i:s",###}</td>
            <td align="center">
                <input type="button" value="详情" class="btn"
                       onclick="showDetail({$row.id},'{$row.pName}')"><input
                    type="button" value="修改" class="btn" onclick="editPro({$row.id})"><input
                    type="button" value="删除" class="btn" onclick="delPro({$row.id})">
                <div id="showDetail{$row.id}" style="display:none;">
                    <table class="table" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="20%" align="right">商品名称</td>
                            <td>{$row.pName}</td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">商品类别</td>
                            <td>{$row.cName}</td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">商品货号</td>
                            <td>{$row.pSn}</td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">商品数量</td>
                            <td>{$row.pNum}</td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">市场价格</td>
                            <td>{$row.mPrice}</td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">销售价格</td>
                            <td>{$row.iPrice}</td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">商品图片</td>
                            <td>
                                {assign name="imgs" value="$row.id|getImgByProId"}
                                {foreach $imgs as $img}
                                <img width="100" height="100" src="__STATIC__index/images/uploads/{$img}" alt=""/>&nbsp;
                                {/foreach}
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">是否上架</td>
                            <td>
                                {if $row.isShow eq 1}
                                上架
                                {else}
                                下架
                                {/if}
                            </td>
                        </tr>
                        <tr>
                            <td width="20%" align="right">是否热卖</td>
                            <td>
                                {if $row.isHot eq 1}
                                热卖
                                {else}
                                促销
                                {/if}
                            </td>
                        </tr>
                    </table>
                    <span style="display:block;width:80%; ">商品描述<br/>{$row.pDesc}</span>
                </div>
            </td>
        </tr>
        {/foreach}
        {if $total gt $size}
        <tr>
            <td colspan="7">{$showPage}</td>
        </tr>
        {/if}
        </tbody>
    </table>
</div>
{literal}
<script type="text/javascript">
    function showDetail(id, t) {
        $("#showDetail" + id).dialog({
            height: "auto",
            width: "auto",
            position: {my: "center", at: "center", collision: "fit"},
            modal: false,//是否模式对话框
            draggable: true,//是否允许拖拽
            resizable: true,//是否允许拖动
            title: "商品名称：" + t,//对话框标题
            show: "slide",
            hide: "explode"
        });
    }

    function addPro() {
        window.location = 'addPro';
    }

    function editPro(id) {
        window.location = 'editPro?id=' + id;
    }

    function delPro(id) {
        if (window.confirm("确定要删除吗?删除之后不可恢复")) {
            window.location = 'delPro?id=' + id;
        }
    }

    function search() {
        if (event.keyCode === 13) {
            var val = document.getElementById("search").value;
            window.location = "listPro.php?keywords=" + val;
        }
    }

    function change(val) {
        window.location = "listPro.php?order=" + val;
    }
</script>
{/literal}
</body>
</html>