<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<center>
    <h3>系统信息</h3>
    <table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
        <tr>
            <th>操作系统</th>
            <td>{$Think.const.PHP_OS}</td>
        </tr>
        <tr>
            <th>PHP版本</th>
            <td>{$Think.const.PHP_VERSION}</td>
        </tr>
        <tr>
            <th>运行方式</th>
            <td>{$Think.const.PHP_SAPI}</td>
        </tr>
    </table>
    <h3>软件信息</h3>
    <table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
        <tr>
            <th>系统名称</th>
            <td>电子商城</td>
        </tr>
        <tr>
            <th>开发团队</th>
            <td>Ocean</td>
        </tr>
        <tr>
            <th>演示网址</th>
            <td><a style="color: black" href="http://39.108.167.55:8888/E-commerce">http://39.108.167.55:8888/E-commerce</a></td>
        </tr>
    </table>
</center>
</body>
</html>