{layout name="layout" /}
    <div class="container">
    <div class="row" style="padding-bottom: 10px">
        <div class="col-12">
        <div id="demo" class="carousel slide text-center" data-ride="carousel">

            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="__STATIC__index/images/banner/banner_01.png">
                </div>
                <div class="carousel-item">
                    <img src="__STATIC__index/images/banner/banner_02.png">
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        </div>
    </div>
    </div>
    <div class="row" style="background-color: #9a9afb;padding: 15px;">
    {foreach $cates as $cate}
    <div class="container border border-secondary rounded" style="padding-top: 5px;margin-bottom: 15px">
    <div class="row">
        <div class="col-4"><h5 class="font-weight-bold">{$cate.cName}</h5></div>
        <div class="col-8 text-right"><a class="text-muted" href="javascript:void(0)">更多&gt;&gt;</a></div>
    </div>
    <div class="row">
        {assign name="pros" value="$cate.id|getProBycId=0,8"}
        {foreach $pros as $pro}
        {assign name="proImg" value="$pro.id|getProImgById"}
        <div class="col-3" style="margin-bottom: 20px">
            <div class="card">
                <a href="__PUBLIC__index/index/proDetails?id={$pro.id}">
                <img class="card-img-top img-thumbnail" src="__STATIC__index/images/uploads/{$proImg}" alt="Shop image">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><a href="__PUBLIC__index/index/proDetails?id={$pro.id}" class="text-dark">
                        {$pro.pName}</a></h4>
                    <p class="card-text text-danger font-weight-bold">{$pro.iPrice}元</p>
                    <a href="__PUBLIC__index/index/proDetails?id={$pro.id}" class="btn btn-primary">查看详情</a>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    </div>
    {/foreach}
    </div>