{layout name="layout" /}
<div class="row" style="background: url('__STATIC__index/images/bg01.jpg') 100% 100% no-repeat;padding: 15px">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-12 card" style="padding: 30px;margin-top: 10px">
                <h3>修改收货地址</h3>
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td><textarea name="" id="address" cols="30" rows="10">{$row.address}</textarea><label for="address"></label></td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-danger modAddress" type="button">提交修改</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".modAddress").click(function () {
            var id={$row.id};
            var uId={$uId};
            var address=$("#address").val();
            $.post("__PUBLIC__index/index/doModAddress",{
                id:id,
                address:address
            },function (data,status) {
                alert(data);
                location.href="__PUBLIC__index/index/shopCar?uid="+{$uId};
            });
        });
    });
</script>