{layout name="layout" /}
<div class="row" style="background-color: #9a9afb;padding: 15px">
        {foreach $cateNum as $cateInfo}
    <div class="container border border-secondary rounded" style="padding-top: 5px;margin-bottom: 20px">
        <div class="row">
            <div class="col-4"><h5 class="font-weight-bold">{$cateInfo.cName}</h5></div>
            <div class="col-8 text-right"><a class="text-muted" href="javascript:void(0)">更多&gt;&gt;</a></div>
        </div>
        {assign name="proCount" value="$cateInfo.id|getProCountBycId"}
        {for start="0" end="$proCount" step="4"}
        <div class="row" style="margin-bottom: 10px">
            {assign name="pros" value="$cateInfo.id|getProBycId=$i,4"}
            {foreach $pros as $pro}
            {assign name="proImg" value="$pro.id|getProImgById"}
            <div class="col-3">
                <div class="card">
                    <a href="__PUBLIC__index/index/proDetails?id={$pro.id}">
                        <img class="card-img-top img-thumbnail" src="__STATIC__index/images/uploads/{$proImg}" alt="Shop image">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="__PUBLIC__index/index/proDetails?id={$pro.id}" class="text-dark">
                            {$pro.pName}</a></h4>
                        <p class="card-text text-danger font-weight-bold">{$pro.iPrice}元</p>
                        <a href="__PUBLIC__index/index/proDetails?id={$pro.id}" class="btn btn-primary">查看详情</a>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        {/for}
    </div>
        {/foreach}
    </div>
<script>
    $(document).ready(function () {
        var id="#"+{$id};
        console.log(id);
        $(id).addClass("active");
    });
</script>