{layout name="layout" /}
<div class="row">
        <div class="container">
            <div class="row" style="padding: 10px 0;">
                <div class="col">
                <a href="__PUBLIC__" class="text-dark">首页</a>
                <span>&gt;</span>
                <a href="javascript:void(0)" class="text-dark">{$proInfo.cName}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img id="image-large" src="__STATIC__index/images/uploads/{$proImgs[0]}" alt="" style="width: 100%;height: 350px">
                    <ul class="nav">
                        {foreach name="proImgs" item="proImg"}
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)"><img class="image-select" src="__STATIC__index/images/uploads/images_50/{$proImg}" alt="__STATIC__index/images/uploads/{$proImg}"></a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="col-8">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th colspan="2"><h3 id="pName">{$proInfo.pName}</h3></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>价格</td>
                            <td class="text-danger">￥<span id="iPrice">{$proInfo.iPrice}</span></td>
                        </tr>
                        <tr>
                            <td>颜色</td>
                            <td><span id="pSn">{$proInfo.pSn}</span></td>
                        </tr>
                        <tr>
                            <td>规格</td>
                            <td><span>{$proInfo.pSn}</span></td>
                        </tr>
                        <tr>
                            <td><label for="sel1">配送至:</label></td>
                            <td>
                                <select class="form-control" id="sel1">
                                    <option>深圳</option>
                                    <option>上海</option>
                                    <option>广州</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="number">数量</label></td>
                            <td><input type="number" id="number" class="form-control" value="1"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-info btn-lg addShopCar" style="margin: 0 10px">
                        <i class="fa fa-shopping-cart" style="padding-right: 10px;font-size: 20px;color: white;"></i>加入购物车
                    </button>
                    <span class="text-muted">注意：此商品可提供普通发票，不提供增值税发票</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link pro-select active" data-toggle="tab" href="#introduction">商品介绍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pro-select" data-toggle="tab" href="#evaluation">商品评价</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="padding: 10px">
        <div class="col-12">
            <div class="tab-content">
                <div id="introduction" class="container tab-pane active"><br>
                    <div class="card" style="padding: 10px;margin-bottom: 10px">
                        <h5>商品介绍</h5>
                        {$proInfo.pDesc}
                    </div>
                    <div class="card" style="padding: 10px">
                        <div class="row">
                        <div class="col-12">
                            <h5 style="display: inline-block">商品评价</h5>
                            <div class="float-right">
                            <button type="button" class="btn btn-success btn-sm">去评价&gt;&gt;</button>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="progress" style="height: auto;margin-top: 20px">
                                    <div class="progress-bar bg-warning" style="width:70%"><span class="font-weight-bold" style="font-size: 2em">3.5分</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center" style="padding: 10px">
                                <img src="__STATIC__index/images/proDes/jinse.png" alt="" style="height: 68px;width: 68px;margin-bottom: 5px">
                                <p class="text-muted">676***67</p>
                            </div>
                            <div class="col-10" style="padding: 10px">
                                <p>挺不错的</p>
                                <p class="text-muted" style="position: absolute;bottom: 15px">2018-01-09</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center" style="padding: 10px">
                                <img src="__STATIC__index/images/proDes/jinse.png" alt="" style="height: 68px;width: 68px;margin-bottom: 5px">
                                <p class="text-muted">676***67</p>
                            </div>
                            <div class="col-10" style="padding: 10px">
                                <p>挺不错的</p>
                                <p class="text-muted" style="position: absolute;bottom: 15px">2018-01-09</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center" style="padding: 10px">
                                <img src="__STATIC__index/images/proDes/jinse.png" alt="" style="height: 68px;width: 68px;margin-bottom: 5px">
                                <p class="text-muted">676***67</p>
                            </div>
                            <div class="col-10" style="padding: 10px">
                                <p>挺不错的</p>
                                <p class="text-muted" style="position: absolute;bottom: 15px">2018-01-09</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">7</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">8</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="evaluation" class="container tab-pane fade"><br>
                    <div class="card" style="padding: 10px">
                        <div class="row">
                            <div class="col-12">
                                <h5 style="display: inline-block">商品评价</h5>
                                <div class="float-right">
                                    <button type="button" class="btn btn-success btn-sm">去评价&gt;&gt;</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="progress" style="height: auto;margin-top: 20px">
                                    <div class="progress-bar bg-warning" style="width:70%"><span class="font-weight-bold" style="font-size: 2em">3.5分</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center" style="padding: 10px">
                                <img src="__STATIC__index/images/proDes/jinse.png" alt="" style="height: 68px;width: 68px;margin-bottom: 5px">
                                <p class="text-muted">676***67</p>
                            </div>
                            <div class="col-10" style="padding: 10px">
                                <p>挺不错的</p>
                                <p class="text-muted" style="position: absolute;bottom: 15px">2018-01-09</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center" style="padding: 10px">
                                <img src="__STATIC__index/images/proDes/jinse.png" alt="" style="height: 68px;width: 68px;margin-bottom: 5px">
                                <p class="text-muted">676***67</p>
                            </div>
                            <div class="col-10" style="padding: 10px">
                                <p>挺不错的</p>
                                <p class="text-muted" style="position: absolute;bottom: 15px">2018-01-09</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center" style="padding: 10px">
                                <img src="__STATIC__index/images/proDes/jinse.png" alt="" style="height: 68px;width: 68px;margin-bottom: 5px">
                                <p class="text-muted">676***67</p>
                            </div>
                            <div class="col-10" style="padding: 10px">
                                <p>挺不错的</p>
                                <p class="text-muted" style="position: absolute;bottom: 15px">2018-01-09</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">7</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">8</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $(".image-select").click(function () {
            $("#image-large").attr("src", $(this).attr("alt"));
        });
        $(".addShopCar").click(function () {
            var pId={$Request.get.id};
            var pName=$("#pName").text();
            var iPrice=$("#iPrice").text();
            var pSn=$("#pSn").text();
//            var speci=$("#speci").text();
            var position=$("#sel1 option:selected").text();
            var number=$("#number").val();
            console.log(number);
            {if $Think.session.userId neq null}
            var uId={$Think.session.userId};
            $.post("__PUBLIC__index/index/addShopCar",{
                uId:uId,
                pId:pId,
                pName:pName,
                iPrice:iPrice,
                pSn:pSn,
                position:position,
                number:number
            },function (data,status) {
                alert(data);
            });
            {elseif $Think.cookie.userId neq null}
            var uId={$Think.cookie.userId};
            $.post("__PUBLIC__index/index/addShopCar",{
                uId:uId,
                pId:pId,
                pName:pName,
                iPrice:iPrice,
                pSn:pSn,
                position:position,
                number:number
            },function (data,status) {
                alert(data);
            });
            {else}
            alert("请先登录");
            {/if}
        });
    });
</script>