{layout name="layout" /}
<div class="row" style="background: url('__STATIC__index/images/bg01.jpg') 100% 100% no-repeat;padding: 15px">
    <div class="container">
        <div class="row">
            <div class="col-12 card" style="padding: 30px;margin-top: 10px">
                <span style="margin-bottom: 10px">
                <button class="btn btn-success selectAll" type="button" style="margin-right: 10px">全选</button>
                <button class="btn btn-info unselectAll" type="button" style="margin-right: 10px">全不选</button>
                <button class="btn btn-danger deleteSelect" type="button" style="margin-right: 10px">删除</button>
                <button class="btn btn-warning settlement" type="button" style="margin-right: 10px">结算</button>
                </span>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="2"><span>商品名称</span></th>
                        <th><span>单价</span></th>
                        <th><span>数量</span></th>
                        <th><span>小计</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $rows as $row}
                    <tr>
                        <td><input type="checkbox" id="{$row.id}" class="check"><label for="{$row.id}" class="label">{$row.id}</label>
                        </td>
                        <td><a href="__PUBLIC__index/index/proDetails?id={$row.pId}"><span>{$row.pName}</span></a></td>
                        <td>￥<span id="iPrice">{$row.iPrice}</span></td>
                        <td><span id="number">{$row.number}</span></td>
                        <td class="text-danger">￥<span id="cPrice">{$row.iPrice*$row.number}</span></td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".selectAll").click(function () {
            $("input:checkbox").prop("checked", true);
        });
        $(".unselectAll").click(function () {
            $("input:checkbox").prop("checked", false);
        });
        $(".deleteSelect").click(function () {
            var id = "";
            $("input:checkbox:checked").each(function () {
//                console.log($(this).attr("id"));
                id += $(this).attr("id") + ",";
            });
            $.post("__PUBLIC__index/index/delShopCar", {
                id: id
            }, function (data, status) {
                alert(data);
                location.reload(true);
            });
        });
        $(".settlement").click(function () {
            var id = "";
            $("input:checkbox:checked").each(function () {
                id += $(this).attr("id") + ",";
            });
            location.href="__PUBLIC__index/index/settlement?id="+id+"&uId="+{$uId};
        });
    });
</script>