<div style="margin-bottom: 10px"></div>
</div>
</body>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center footer">
        <p>
            <a href="javascript:void(0)">本站简介</a><i>|</i>
            <a href="javascript:void(0)">本站公告</a><i>|</i>
            <a href="javascript:void(0)">招贤纳士</a><i>|</i>
            <a href="javascript:void(0)">联系我们</a><i>|</i>
            客服热线:888-888-8888
        </p>
        <p>Copyright &copy; 2017-{:date("Y")} 本站版权所有&nbsp;&nbsp;&nbsp;京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号123456789123</p>
    </div>
</div>
</html>